In [1]:
a=5

In [2]:
a

5

In [3]:
a="Atul Kumar Sharma"

In [4]:
a

'Atul Kumar Sharma'

In [5]:
f=2.3

In [6]:
f

2.3

In [7]:
l=[1,5,8,"Studend",5.6,'A']

In [8]:
l

[1, 5, 8, 'Studend', 5.6, 'A']

In [9]:
tuple1 = ("abc", 34, True, 40, "male")

In [10]:
tuple1

('abc', 34, True, 40, 'male')